name: Unit test
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Pull code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm tests
